.git
.github
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
README.md
kaserva-gcloud-run.md
kaserva-cicd-cloud-run.md
docker-compose.yml
docker-compose.yaml
gha-creds-*.json